<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Today's Quote</h1>
      <% if (locals.msg && locals.author ) { %>
        <p class="secret-text">  <%= msg  %>       <span style="color:blue">Written by- <%= author %></span> </p> 
        
      <% } else { %>
        <p class="secret-text">Loading... <%= msg %> </p>
      <% } %> 
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>